* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  transition: background-color .3s, color .3s, fill .3s, border-color .3s, filter .3s;
}

a {
  color: black;
  text-decoration: unset;
  text-align: end;
  border-radius: .3rem;
  font-weight: 300;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.477);
}

html {
  font-size: 62.5%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  padding: 2rem 1.5rem 6rem 1.5rem;
  gap: 3rem;
}

#root > * {
  width: min(100%, 100rem);
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: -1px;
  word-break: break-word;
  color: transparent;
  background-clip: text;
  flex-grow: 2;
}

#logo a {
  font-size: 4rem;
  color: transparent;
  font-weight: 500;
  text-align: center;
}

#brightness {
  min-height: 3.5rem;
  min-width: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: aliceblue;
  cursor: pointer;
}

#brightness > * {
  position: absolute;
  animation: mode 1s;
  font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 20;
  color: transparent;
  background-clip: text;
  line-height: .9;
  font-size: 4rem;
  user-select: none;
  transition: all .5s;
}

button {
  background-color: unset;
  border: unset;
  border-radius: .3rem;
  font-size: 1.8rem;
  user-select: none;
  cursor: pointer;
}

button:hover, a:not(#logo a):hover {
  filter: opacity(.6);
}

#filter {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  justify-content: unset;
  overflow: hidden;
  gap: 1rem;
}

#filter button:not(#create_btn) {
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.477);
  padding: .4em 1.5em;
}

#create_btn  {
  display: flex;
  align-items: center;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.477);
}

#create_btn a {
  padding: .4em 1.5em;
  text-align: center;
}

#filter > div:first-of-type  {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#filter > div:nth-of-type(2) {
  display: flex;
  gap: 1rem;
}

#filter > div:nth-of-type(2) > * {
  font-size: 1.3rem;
  flex-basis: 100%;
}

#filter > div:last-of-type > * {
  white-space: nowrap;
}

#filter > div:first-of-type * {
  white-space: unset;
}

.MYP {
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

#thead {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem 2rem;
  border-radius: .5rem;
}

#thead > div {
  display: flex;
  flex-basis: 100%;
}

#thead > div:last-of-type, #thead > div:nth-last-of-type(2) {
  justify-content: end;
}

#thead > div > div {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  gap: .5rem;
  cursor: pointer;
}

#thead p {
  user-select: none;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.list p {
  font-size: 1.4rem;
}

.list > * {
  word-break: break-all;
}

.list p:not(.list p:first-of-type, .list p:nth-of-type(2)) {
  text-align: right;
}

.arrows {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.arrows svg {
  height: .5rem;
  width: 1rem;
}

.arrows svg:first-of-type {
  transform: rotate(180deg);
}

#paging {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

#car_info_main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#car_info_main img {
  border-radius: .3rem;
}

#car_info_main > p {
  font-size: 1.8rem;
  line-height: 1.5em;
}

#edit_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#edit_btns > *, #car_info_form_main > p {
  display: flex;
  align-items: center;
}

#edit_btns a, #car_info_form_main a {
  padding: .5em 1em;
  border-width: 1px;
  border-style: solid;
}

#car_info_form_main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#car_info_form_main h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

#form {
  display: flex;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: min(50rem, 100%);
  gap: 2rem;
  padding: 4rem 3rem;
  border-radius: .5rem;
}

#form > button {
  display: flex;
  justify-content: center;
}

#form a {
  border: unset;
  flex-grow: 2;
  text-align: center;
  color: white;
  font-weight: 400;
}

#form a:hover {
  opacity: .6;
}

#save {
  margin-top: 2rem;
  background-color: #a3dafb;
}

#create {
  margin-top: 2rem;
  background-color: #a3dafb;
}

#delete {
  background-color: #ff0080;
}

#cancle {
  background-color: #423e87;
}

.input {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

label {
  font-weight: 500;
  font-size: 1.8rem;
}

input {
  border: unset;
  padding: 1rem;
  font-size: 1.6rem;
  outline: unset;
  border-radius: .5rem;
  transition: outline .2s;
  background-color: rgb(255, 255, 255);
}

input::placeholder {
  color: rgba(128, 128, 128, 0.566);
}

#error {
  display: flex;
  justify-content: flex-end;
  color: red;
}

.all_color_white p:not(.list p:last-of-type), .all_color_white a, .all_color_white button:not(#paging button), .all_color_white i, .all_color_white h2, .all_color_white h1, .all_color_white label {
  color: white;
  border-color: white;
}

.opacity_0 {
  opacity: 0;
}

.left {
  left:0;
}

.right {
  left: 4rem;
}

.color_white {
  color: rgba(240, 248, 255, 0.822);
}

.color_gray  {
  color: #707a8a7d;
}

.dark_bg {
  background-color: #121218e7;
}

.fill_white {
  fill: white;
}

.sun_color {
  background-image: linear-gradient(to right,#ff0080, #ff8c00);
  z-index: 2;
}

.moon_color {
  background-image: linear-gradient(to left,#a3dafb, #8983f7)
}

.sun_color_bg {
  background-image: linear-gradient(to right,#ff008025, #ff8c0025);
}

.moon_color_bg {
  background-image: linear-gradient(to left,#a3d9fb25, #8983f725)
}

.sun_color_border {
  border-bottom: 1px solid #ff008025;
}

.moon_color_border {
  border-bottom: 1px solid #8983f745;
}

.sun_color_hover:hover {
  background-image: linear-gradient(to right,#ff008010, #ff8c0010);
}

.moon_color_hover:hover {
  background-image: linear-gradient(to right,#a3dafb10, #8983f710);
}

.sun_color_outline input {
  background-color: white;
}

.moon_color_outline input {
  background-color: rgba(240, 248, 255, 0.943);
}

.sun_color_outline input:focus {
  outline: 2px solid #ff8c00;
}

.moon_color_outline input:focus {
  outline: 2px solid #8983f7;
}

.input .red_color_outline:focus {
  outline: 2px solid red;
}

.user_select_none {
  user-select: none;
}

.pointer_events_none {
  pointer-events: none;
}

.pointer_events_none #manufacturer {
  color: rgba(128, 128, 128, 0.566);
}

@media only screen and (min-width: 336px) {
  #logo {
    justify-content: unset;
  }
}

@media only screen and (min-width: 1000px) {
  #root {
    padding: 3rem 4rem 4rem;
    font-size: 1.8rem;
  }

  #thead > * {
    font-size: 1.4rem;
  }

  #logo a {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  #car_info_main > p {
    font-size: 2rem;
  }

  .list p {
    font-size: 1.8rem;
  }

  #filter > div:nth-of-type(2) > * {
    flex-basis: unset;
  }
}